version: '2.2'
services:
    elasticsearch1:
        image: {{ elasticsearch_image }}
        container_name: elasticsearch1
        environment:
            - "HMPPS_JVM_HEAPSIZE={{ elasticsearch_jvm_heapsize }}"
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - {{ elasticsearch_path_data }}:{{ elasticsearch_path_data }}
            - {{ elasticsearch_config_file }}:/etc/confd/templates/elasticsearch.yml.tmpl
        networks:
            - esnet
        ports:
            - 9200:9200
            - 9300:9300


networks:
    esnet:
